# Python
__pycache__/
*.pyc
venv/
.venv/
backend/venv/
backend/__pycache__/

# React / Node
node_modules/
dist/
build/
frontend/node_modules/

# Env
.env
.env.local
backend/.env
frontend/.env

# Data / Logs
*.log

# OS / Editor
.vscode/
.DS_Store
Thumbs.db
backend/abnormal_events_store.json
