# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Node / React
node_modules/
dist/
build/

# Env
.env
.env.local

# Data / Large files
data/
*.csv
*.npy
*.joblib

# OS / Editor
.vscode/
.DS_Store
Thumbs.db